<div class="{{ rootElementClass }}">
    <input type="hidden" class="config" value="{{ config|json_encode }}">
    <audio src="{{ source.src|escape }}" type="{{ source.type|escape }}" controlsList="nodownload" controls="controls"></audio>
</div>
