<div class="{{ rootElementClass }}">
    <input type="hidden" class="config" value="{{ config|json_encode }}">
    <audio id="player2" src="{{ source.src|escape }}" type="{{ source.type|escape }}" controls="controls"></audio>
</div>
